* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alata", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a:link {
  color: inherit;
}

a:visited {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  font-size: 3rem;
  text-align: center;
  color: #444444;
}

.projects__slider {
  display: flex;
}

.projects__block {
  width: 350px;
  background: #6387fd;
}

.projects__block:focus {
  outline: 0;
}

.projects__info {
  margin-top: 2em;
  padding: 0 2em;
}

.projects__l,
.projects__r {
  flex: 0 0 50%;
}

.projects__r {
  margin-top: 3em;
}

.slick-prev,
.slick-next {
  border: 0;
  background: none;
  cursor: pointer;
  transition: 0.3s ease-out;
  color: #fff;
  position: absolute;
  top: 50%;
  right: -1rem;
}

.slick-prev {
  left: -1rem;
}

.slick-prev,
.slick-next:focus {
  outline: none;
}

.slick-prev:hover,
.slick-next:hover {
  transform: scale(2);
}

@media screen and (min-width: 992px) {
  .slick-prev,
  .slick-next {
    color: #000;
  }
  .projects__info {
    display: flex;
    padding: 6em 3em;
    margin-top: 0;
    height: 500px;
  }
  .projects__r {
    margin-top: 0;
  }
  .projects__block {
    height: 500px;
    margin: 50px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 2em;
  background: #012a58;
}

.nav__header {
  font-size: 2rem;
  letter-spacing: 2px;
  color: #ff304f;
  white-space: nowrap;
}

.nav__tabs {
  list-style: none;
  cursor: pointer;
  display: none;
  transition: 0.3s ease-in;
}

.nav__tab {
  margin: 0 2em;
  letter-spacing: 1px;
}

.nav__tab a {
  color: #ff304f;
  transition: 0.3s all ease-in;
}

.nav__tab a:hover {
  color: #eeff09;
}

.nav .hamburger {
  position: absolute;
  right: 2em;
  background: transparent;
  width: 50px;
  height: 50px;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.nav .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #ff304f;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-out;
}

.nav .hamburger > div:hover {
  background-color: #eeff09;
}

.nav .hamburger > div:before, .nav .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.nav .hamburger > div:after {
  top: 10px;
}

@media screen and (min-width: 992px) {
  .nav {
    padding: 1.5em 5em;
  }
  .nav__tabs {
    display: flex;
  }
  .hamburger {
    opacity: 0;
    right: 5em;
  }
}

.footer {
  display: flex;
  padding: 1.5em 2em;
  background: #012a58;
  color: #ff304f;
  justify-content: space-between;
}

.footer__social-links {
  list-style: none;
  display: flex;
}

.footer__social-link {
  margin: 0 1em;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.footer__social-link:hover {
  color: #eeff09;
}

@media screen and (min-width: 992px) {
  padding: 1.5em 5em;
}

.banner__bgimg {
  background-image: url("../../img/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

.about {
  background-color: #ff304f;
  color: #fff;
}

.about__header {
  color: #fff;
}

.about__container {
  padding: 1.5em 2em;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.about__content {
  margin-top: 2em;
  font-size: 1.25rem;
}

.experience {
  color: #eeff09;
  background: #13263c;
}

.experience__header {
  color: #fff;
}

.experience__container {
  padding: 1.5em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience__content {
  margin-top: 2rem;
}

.experience__block {
  margin: 2rem 0;
  padding: 2em 0;
}

.experience__block .title {
  font-size: 2rem;
  margin-top: 1em;
}

.experience__block .location {
  font-size: 1.5rem;
  margin-top: 1em;
}

.experience__block .description {
  margin-top: 1em;
}

.experience__subheader {
  font-size: 2rem;
  flex: 0 0 50%;
  text-transform: uppercase;
}

.experience__company {
  margin-bottom: 4rem;
}

.experience .skills__container {
  flex: 0 0 50%;
  margin-top: 3em;
}

.experience .skills .skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.experience .skills .skill__name {
  font-size: 1.2rem;
}

.experience .skills .skill__bar {
  position: relative;
  background: grey;
  height: 2px;
  width: calc(100% - 8rem);
}

.experience .skills .skill__level {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #ff304f;
}

.experience .skills .skill__level--html {
  width: 90%;
}

.experience .skills .skill__level--css {
  width: 90%;
}

.experience .skills .skill__level--js {
  width: 90%;
}

.experience .skills .skill__level--python {
  width: 50%;
}

.experience .skills .skill__level--java {
  width: 60%;
}

.experience .skills .skill__level--vue {
  width: 80%;
}

.experience .skills .skill__level--react {
  width: 70%;
}

.experience .skills .skill__level--node {
  width: 70%;
}

.experience .skills .skill__level--jquery {
  width: 80%;
}

.experience .skills .skill__level--cms {
  width: 70%;
}

.experience .skills .skill__level--git {
  width: 80%;
}

.experience .skills .skill__level--mongo {
  width: 60%;
}

.projects {
  padding: 1.5em 2em;
  min-height: 100vh;
  color: #fff;
  background-color: #6387fd;
}

.projects__header {
  color: #fff;
}

.projects__title {
  font-size: 3rem;
  color: #eeff09;
}

.projects__desc {
  font-size: 1rem;
  margin-top: 1em;
  line-height: 170%;
}

.projects__button {
  display: inline-block;
  font-size: 1.25rem;
  padding: 0.5em 2em;
  background: none;
  border-radius: 1.5rem;
  cursor: pointer;
  border: 2px solid #eeff09;
  color: #eeff09 !important;
  margin: 2rem 2rem 0 0;
  transition: 0.2s ease-in;
}

.projects__button:hover {
  background: #eeff09;
  color: #6387fd !important;
}

.projects__button:focus {
  outline: 0;
}

.projects__image {
  width: 100%;
  height: 100%;
}

.contact {
  padding: 1.5em 5em;
}

.contact__subheader {
  font-size: 1.5rem;
}

.contact__inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 50%;
  padding: 2em 1em;
  margin: 0 auto;
  margin-top: 2em;
  background: #cacaca;
  color: #fff;
  border-radius: 0.25rem;
}

.contact__img {
  width: 12rem;
  height: 12rem;
}

.contact img {
  border-radius: 50%;
}

.contact__list {
  list-style: none;
  line-height: 200%;
}

.contact__list li {
  margin: 1em;
}

.contact__email {
  transition: 0.3s ease-out;
}

.contact__email:hover {
  color: #ff304f;
}

@media screen and (min-width: 992px) {
  .about__container,
  .experience__container,
  .projects {
    padding: 1.5em 5em;
  }
  .projects {
    background: none;
  }
  .projects__header {
    color: #444444;
  }
  .experience__content {
    max-width: 85%;
  }
  .experience__block {
    display: flex;
    align-items: baseline;
  }
  .experience__block .title {
    margin-top: 0;
  }
  .experience__company {
    margin-bottom: 3rem;
  }
  .experience .skills__container {
    margin-top: 0;
  }
}
/*# sourceMappingURL=main.css.map */