// background colors
$bg-primary: #012a58;
$bg-secondary: #ff304f;
$bg-accent: #13263c;

// header font size
$fs-header: 3rem;
$fs-subheader: 2rem;
$fs-small: 1.25rem;

// padding
$pad-small: 1.5em 2em;
$pad-large: 1.5em 5em;

// skills level
$html-width: 90%;
$css-width: 90%;
$js-width: 90%;
$python-width: 50%;
$java-width: 60%;
$vue-width: 80%;
$react-width: 70%;
$node-width: 70%;
$jquery-width: 80%;
$cms-width: 70%;
$git-width: 80%;
$mongo-width: 60%;
