// background colors
$bg-primary: #012a58;
$bg-secondary: #ff304f;
$bg-accent: #13263c;

// header font size
$fs-header: 3rem;
$fs-subheader: 2rem;

// skills level
$html-width: 90%;
$css-width: 90%;
$js-width: 80%;
