.footer {
  display: flex;
  padding: $pad-small;
  background: #012a58;
  color: #ff304f;
  justify-content: space-between;
  &__social-links {
    list-style: none;
    display: flex;
  }
  &__social-link {
    margin: 0 1em;
    cursor: pointer;
    transition: 0.3s ease-in;
    &:hover {
      color: #eeff09;
    }
  }
}

@media screen and (min-width: 992px) {
  padding: $pad-large;
}
