.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 5em;
  background: $bg-primary;
  color: #6387fd;
  &__header {
    font-size: 2rem;
    letter-spacing: 2px;
  }
  &__tabs {
    display: flex;
    list-style: none;
    cursor: pointer;
  }
  &__tab {
    margin: 0 2em;
    letter-spacing: 1px;
    transition: 0.3s ease-out;
    &:hover {
      color: #fff;
    }
  }
}
