.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 5em;
  background: $bg-primary;
  &__header {
    font-size: 2rem;
    letter-spacing: 2px;
    color: #ff304f;
  }
  &__tabs {
    display: flex;
    list-style: none;
    cursor: pointer;
  }
  &__tab {
    margin: 0 2em;
    letter-spacing: 1px;
    a {
      color: #ff304f;
      transition: 0.3s all ease-in;
      &:hover {
        color: #eeff09;
      }
    }
  }
}
