.projects__slider {
  display: flex;
}
.projects__block {
  width: 350px;
  background: #6387fd;
  &:focus {
    outline: 0;
  }
}

.projects__info {
  margin-top: 2em;
  padding: 0 2em;
}
.projects__l,
.projects__r {
  flex: 0 0 50%;
}
.projects__r {
  margin-top: 3em;
}
.slick-prev,
.slick-next {
  border: 0;
  background: none;
  cursor: pointer;
  transition: 0.3s ease-out;
  color: #fff;
  position: absolute;
  top: 50%;
  right: -1rem;
}
.slick-prev {
  left: -1rem;
}
.slick-prev,
.slick-next:focus {
  outline: none;
}
.slick-prev:hover,
.slick-next:hover {
  transform: scale(2);
}

@media screen and (min-width: 992px) {
  .slick-prev,
  .slick-next {
    color: #000;
  }
  .projects {
    &__info {
      display: flex;
      padding: 6em 3em;
      margin-top: 0;
      height: 500px;
    }
    &__r {
      margin-top: 0;
    }
    &__block {
      height: 500px;
      margin: 50px;
    }
  }
}

@media screen and (min-width: 1500px) {
  .projects {
    &__info {
      height: 600px;
    }
    &__block {
      height: 600px;
    }
  }
}
