* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
a:link {
  color: inherit;
}
a:visited {
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
.header {
  font-size: $fs-header;
  text-align: center;
  color: #444444;
}
@media screen and (min-width: 1500px) {
  .header {
    font-size: 4rem;
  }
}
