.banner {
  &__bgimg {
    background-image: url("../../img/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
  }
}
.about {
  background-color: $bg-secondary;
  color: #fff;
  &__header {
    color: #fff;
  }
  &__container {
    padding: 2em 5em;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  &__content {
    margin-top: 2em;
    font-size: 1.25rem;
  }
}
.experience {
  color: #eeff09;
  background: $bg-accent;
  &__header {
    color: #fff;
  }
  &__container {
    padding: 2em 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__content {
    margin-top: 2rem;
    max-width: 70%;
  }
  &__block {
    margin: 2rem 0;
    display: flex;
    align-items: baseline;
    padding: 2em 0;
    .title {
      font-size: 2rem;
    }
    .location {
      font-size: 1.5rem;
      margin-top: 1em;
    }
    .description {
      margin-top: 1em;
    }
  }
  &__subheader {
    font-size: $fs-subheader;
    flex: 0 0 50%;
    //letter-spacing: 0.25rem;
    text-transform: uppercase;
  }
  &__company {
    margin-bottom: 2rem;
  }
  .skills {
    &__container {
      flex: 0 0 50%;
    }
    .skill {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1em;
      &__name {
        font-size: 1.2rem;
      }
      &__bar {
        position: relative;
        background: grey;
        height: 2px;
        width: calc(100% - 8rem);
      }
      &__level {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background: $bg-secondary;
        &--html {
          width: $html-width;
        }
        &--css {
          width: $css-width;
        }
        &--js {
          width: $js-width;
        }
        &--python {
          width: $python-width;
        }
        &--java {
          width: $java-width;
        }
        &--vue {
          width: $vue-width;
        }
        &--react {
          width: $react-width;
        }
        &--node {
          width: $node-width;
        }
        &--jquery {
          width: $jquery-width;
        }
        &--cms {
          width: $cms-width;
        }
        &--git {
          width: $git-width;
        }
        &--mongo {
          width: $mongo-width;
        }
      }
    }
  }
}
.projects {
  padding: 2em 5em;
  min-height: 100vh;
  color: #fff;
  &__title {
    font-size: $fs-header;
    color: #eeff09;
  }
  &__desc {
    font-size: 1rem;
    margin-top: 1em;
    line-height: 170%;
  }
  &__button {
    display: inline-block;
    font-size: $fs-small;
    padding: 0.5em 2em;
    background: none;
    border-radius: 1.5rem;
    cursor: pointer;
    border: 2px solid #eeff09;
    color: #eeff09 !important;
    margin: 2rem 2rem 0 0;
    transition: 0.2s ease-in;
    &:hover {
      background: #eeff09;
      color: #6387fd !important;
    }
    &:focus {
      outline: 0;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
  }
}
.contact {
  padding: 2em 5em;
  &__subheader {
    font-size: 1.5rem;
  }
  &__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 50%;
    padding: 2em 1em;
    margin: 0 auto;
    margin-top: 2em;
    background: #cacaca;
    color: #fff;
    border-radius: 0.25rem;
  }
  &__img {
    width: 12rem;
    height: 12rem;
  }
  img {
    border-radius: 50%;
  }
  &__list {
    list-style: none;
    line-height: 200%;
    li {
      margin: 1em;
    }
  }
  &__email {
    transition: 0.3s ease-out;
    &:hover {
      color: #ff304f;
    }
  }
}
