.banner {
  &__bgimg {
    background-image: url("../../img/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
  }
}
.about {
  background-color: $bg-secondary;
  color: #fff;
  &__header {
    color: #fff;
  }
  &__container {
    padding: $pad-small;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  &__content {
    margin-top: 2em;
    font-size: 1.25rem;
  }
}
.experience {
  color: #eeff09;
  background: $bg-accent;
  &__header {
    color: #fff;
  }
  &__container {
    padding: $pad-small;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__content {
    margin-top: 2rem;
    //max-width: 70%;
  }
  &__block {
    margin: 2rem 0;
    padding: 2em 0;
    .title {
      font-size: 2rem;
      margin-top: 1em;
    }
    .location {
      font-size: 1.5rem;
      margin-top: 1em;
    }
    .description {
      margin-top: 1em;
    }
  }
  &__subheader {
    font-size: $fs-subheader;
    flex: 0 0 50%;
    //letter-spacing: 0.25rem;
    text-transform: uppercase;
  }
  &__company {
    margin-bottom: 4rem;
  }
  .skills {
    &__container {
      flex: 0 0 50%;
      margin-top: 3em;
    }
    .skill {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1em;
      &__name {
        font-size: 1.2rem;
      }
      &__bar {
        position: relative;
        background: grey;
        height: 2px;
        width: calc(100% - 8rem);
      }
      &__level {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background: $bg-secondary;
        &--html {
          width: $html-width;
        }
        &--css {
          width: $css-width;
        }
        &--js {
          width: $js-width;
        }
        &--python {
          width: $python-width;
        }
        &--java {
          width: $java-width;
        }
        &--vue {
          width: $vue-width;
        }
        &--react {
          width: $react-width;
        }
        &--node {
          width: $node-width;
        }
        &--jquery {
          width: $jquery-width;
        }
        &--cms {
          width: $cms-width;
        }
        &--git {
          width: $git-width;
        }
        &--mongo {
          width: $mongo-width;
        }
      }
    }
  }
}
.projects {
  padding: $pad-small;
  //min-height: 100vh;
  color: #fff;
  background-color: #6387fd;
  &__header {
    color: #fff;
  }
  &__title {
    font-size: $fs-header;
    color: #eeff09;
  }
  &__desc {
    font-size: 1rem;
    margin-top: 1em;
    line-height: 170%;
  }
  &__button {
    display: inline-block;
    font-size: $fs-small;
    padding: 0.5em 2em;
    background: none;
    border-radius: 1.5rem;
    cursor: pointer;
    border: 2px solid #eeff09;
    color: #eeff09 !important;
    margin: 2rem 2rem 0 0;
    transition: 0.2s ease-in;
    &:hover {
      background: #eeff09;
      color: #6387fd !important;
    }
    &:focus {
      outline: 0;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
  }
}
.contact {
  background-color: #cacaca;
  &__container {
    padding: $pad-small;
  }
  &__subheader {
    font-size: 1.5rem;
  }
  &__inner {
    //padding: 2em 1em;
    margin: 0 auto;
    margin-top: 2em;
    color: #fff;
    border-radius: 0.25rem;
  }
  &__img {
    width: 12rem;
    height: 12rem;
  }
  img {
    border-radius: 50%;
  }
  &__list {
    list-style: none;
    line-height: 200%;
    li {
      margin: 1em;
    }
  }
  &__email {
    transition: 0.3s ease-out;
    &:hover {
      color: #ff304f;
    }
  }
}

// responsive desktop
@media screen and (min-width: 992px) {
  .about__container,
  .experience__container,
  .projects {
    padding: $pad-large;
  }
  .projects {
    background: none;
    &__header {
      color: #444444;
    }
  }
  .experience {
    &__content {
      max-width: 85%;
    }
    &__block {
      display: flex;
      align-items: baseline;
      .title {
        margin-top: 0;
      }
    }
    &__company {
      margin-bottom: 3rem;
    }
    .skills {
      &__container {
        margin-top: 0;
      }
    }
  }
  .contact {
    &__inner {
      display: flex;
      justify-content: space-around;
      align-items: center;
      max-width: 50%;
    }
  }
}

// large desktop
@media screen and (min-width: 1500px) {
  .about {
    &__content {
      font-size: 1.5rem;
    }
  }
  .experience {
    &__subheader {
      font-size: 2.5rem;
    }
    &__block {
      .title {
        font-size: 2.5rem;
      }
      .location {
        font-size: 2rem;
      }
      .description {
        font-size: 1.25rem;
      }
    }
  }
  .projects {
    &__desc {
      font-size: 1.5rem;
    }
  }
}
